* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: white;
    height: 100vh;
    background-position: center; 
    background-size: cover;
    background-image: url(/images/1screen.jpg);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(215, 209, 209);
    font-size: 1.2rem;
}

a:hover {
    color: rgb(230, 173, 69);
}

header {
    position:relative;
    padding: 2 4rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: rgb(215, 209, 209);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .action_btn {
    background-color: rgb(226, 162, 43);
    color: rgb(215, 209, 209);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 18px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(215, 209, 209);
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    position: absolute;
    right: 2rem;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
      display: none;
    }
}

.navbar .toggle_btn {
    display: block
}