* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    height: 100vh;
    background-position: center; 
    background-size: cover; 
}

li {
    list-style: none;
}

a {
    font-weight:bold;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: rgb(230, 173, 69);
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .action_btn {
    background-color: rgb(225, 150, 11);
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-color: black;
    outline: 0.1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.2 ease;
 
}

.action_btn:hover {
    scale: 1.05;
    color: black;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #618194;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: rgb(225, 150, 11);
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: scale 0.2 ease;
}

/* SECTION HERO */
section#hero {
    height: calc (100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:  black;
    background-image: url(images/1screen.jpg);
    padding: 6rem 3rem;
}

#hero h1 {
    font-size: 50px;
    margin-bottom: 3rem;
    margin-top: 10rem;
}

.h2 {
    font-size: 25px;
}


/* SERVICES SECTION */
.services_section {
    padding: 50px 0;
    color: black;
    background-color: white;
}

.services_section .container {
    max-width: 1240px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-title {
    position: relative;
    padding: 30px 0 20px;
    margin: 25px;
    font-weight: bold;
    font-size: 35px;
}

.service-description {
    font-size: 18px;
    text-align: center;
  
}

.service-column {
    
}

/* RESPONSIVE DESIGN */

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

.navbar .toggle_btn {
    display: block
}

.dropdown_menu {
    display: block;
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
}

